<div class="container">

	<br><br>

	<% if current_user %>

		<% if current_user.acc_type == 'superadmin' || current_user.acc_type == 'admin' || current_user.acc_type == 'faculty' %>

		<div class="sketch">
			<h1>All Student Profiles</h1>
		</div>

		Below are all student profiles. Sort or search through them by clicking the column names using the search button below.
		<br><br>



		<%= form_tag(all_profiles_url , method: :get) do %>
			<%= text_field_tag(:search, params[:search]) %>
			<%= submit_tag "Search", class: "btn btn-primary btn-sm" %>
		<% end %>



		<br>
		<table class="table">

		  <thead class="thead">
		    <tr style="colSort">
		      <th scope="col"><%= sort_link "fname", "First Name" %></th>
					<th scope="col"><%= sort_link "lname", "Last Name" %></th>
		      <th scope="col"><%= sort_link "ethnicity", "Ethnicity" %></th>
					<th scope="col"><%= sort_link "iep", "IEP" %></th>
					<th scope="col"><%= sort_link "math", "Math" %></th>
					<th scope="col"><%= sort_link "ela", "ELA" %></th>
					<th scope="col">Background</th>
					<% if current_user.acc_type == 'superadmin' || current_user.acc_type == 'admin' %>
						<th>Edit</th>
					<% end %>
		    </tr>
		  </thead>
		  <tbody>

				<% @profiles.each do |profile| %>
						<tr>
							<td><%= profile.fname %></td>
							<td><%= profile.lname %></td>
				      <td><%= profile.ethnicity %></td>
							<td><%= profile.iep %></td>
							<td><%= profile.math %></td>
							<td><%= profile.ela %></td>
							<td><%= link_to truncate(profile.background, :length => 20), profile_path(profile), target: "_blank" %></td>
							<% if current_user.acc_type == 'superadmin' || current_user.acc_type == 'admin' %>
								<td><%= link_to 'Edit', edit_profile_url(profile) %></td>
							<% end %>
						</tr>
				<% end %>
		  </tbody>
		</table>

		<%= will_paginate @profiles %>

		<p><%= link_to "Return to classrooms", classrooms_path %></p>

		<% else %>

		<b>You do not have permission to access this page!</b>

		<% end %>

	<% else %>

	<b>You do not have permission to access this page!</b>

	<% end %>

</div>
