<div class="container">
	<br><br>
  <h2>Edit <%= @profile.fname %> <%= @profile.lname %></h2>

	<%= form_for(@profile) do |f| %>
    <%= devise_error_messages! %>

		<div class="field">
			<%= f.label :"First Name" %><br />
      <%= f.text_field :fname %>
		</div>

		<div class="field">
			<%= f.label :"Last Name" %><br />
      <%= f.text_field :lname %>
		</div>

		<div class="field">
			<%= f.label :"Ethnicity" %><br />
      <%= f.text_field :ethnicity %>
		</div>

		<div class="field">
			<%= f.label :"IEP" %><br />
      <%= f.text_field :iep %>
		</div>

		<div class="field">
			<%= f.label :"Math" %><br />
      <%= f.text_field :math %>
		</div>

		<div class="field">
			<%= f.label :"ELA" %><br />
      <%= f.text_field :ela %>
		</div>

		<div class="field">
			<%= f.label :"Background" %><br />
			<%= f.text_area :background, cols: "60", rows: "4", autocomplete: "background" %>
		</div>

    <div class="actions">
      <%= f.submit "Update", :class => "btn btn-light btn-sm" %>
    </div>
  <% end %>

  <%= link_to "Back", :back %>
</div>
