<div class="container">
	<br><br>

	<% if current_user %>

		<div class="sketch">
			<h1><%= @profile.fname %> <%= @profile.lname %></h1>
		</div>
		<br>
		<b>Ethnicity: </b><%= @profile.ethnicity %><br>
		<b>IEP: </b><%= @profile.iep %><br>
		<b>Math: </b><%= @profile.math %><br>
		<b>ELA: </b><%= @profile.ela %><br>
		<b>Grade Level: </b><%= @profile.grade %><br>
		<b>Beginning of school: </b> <br> <%= @profile.beginning_of_school %><br>
		<b>Story part 1: </b> <br> <%= @profile.story_1 %><br>
		<b>Story part 2: </b> <br> <%= @profile.story_2 %><br>
		<b>Story part 3: </b> <br> <%= @profile.story_3 %><br>
		<b>Writing sample: </b> <br> <%= @profile.writing_sample %><br>
		<b>Math sample: </b> <br> <%= @profile.math_sample %><br>
		<b>Family background PBL: </b> <br> <%= @profile.family_background_PBL %><br>
		<b>Funds of knowledge: </b> <br> <%= @profile.funds_of_knowledge %><br>
		<b>Family survey: </b> <br> <%= @profile.family_survey %><br>
		<b>Academic data: </b> <br> <%= @profile.academic_data %><br>

	<% else %>

	<b>You do not have permission to access this page!</b>
	<br>
	<% end %>
	<br>
	<button onclick="goBack()" class="btn btn-warning"><i class="fas fa-backward" style="color: white;"></i></button>

	<br><br>
</div>
