<div class="container">
	<br><br>

	<% if current_user %>

		<% if current_user.acc_type == 'superadmin' || current_user.acc_type == 'admin' || current_user.acc_type == 'faculty' %>

		<div class="sketch">
			<h1>Edit TIP Class</h1>
		</div>

		<% if @offering.errors.any? %>
		  <h3>Please fix these errors:</h3>
		  <ul>
		    <% @offering.errors.full_messages.each do |message| %>
		      <li><%= message %></li>
		    <% end %>
		  </ul>
		<% end %>

		<%= form_for @offering do |f| %>
			<%= f.label :title %>
			<%= f.text_field :name, class: "form-control" %>
			<%= f.label :description %> <br>
			<%= f.text_area :description, cols: "60", rows: "3", class: "form-control"  %>
			<%= f.label :message_to_students %> <br>
			<%= f.text_area :message, cols: "60", rows: "3", class: "form-control"  %>
			<br><br>

			<div class="sketch">
				<h2>Learning Activities</h2>
			</div>

			<table class="table">
				<thead class="thead">
					<tr style="colSort">
						<th scope="col">Learning Activity Name <i class="fas fa-external-link-alt" style="color: white;"></th>
						<th scope="col">Learning Activity Description</th>
						<th scope="col">Add to TIP Class</th>
					</tr>
				</thead>

				<tbody>

				 <% @exercises.each do |exercise| %>
						 <tr>
							 <td><%= link_to exercise.name, exercise_path(exercise), target: "_blank" %></td>
							 <td><%= exercise.description %> </td>
							 <td>
								 <label class="checkbox_container">
									<%= check_box_tag "offering[exercise_ids][]", exercise.id,  f.object.exercises.include?(exercise) %>
									<span class="checkmark"></span>
								 </label>
							 </td>
						 </tr>
				 <% end %>
			 </tbody>
			</table>

			<br>
			<div class="sketch">
				<h2>Enrollment</h2>
			</div>

			<table class="table">
				<thead class="thead">
					<tr style="colSort">
						<th scope="col">Name <i class="fas fa-external-link-alt" style="color: white;"></th>
						<th scope="col">E-mail</th>
						<th scope="col">Add to TIP Class</th>
					</tr>
				</thead>

				<tbody>

				 <% @users.each do |user| %>
					 <tr>
						 <td><%= link_to user.fname, user_path(user), target: "_blank" %></td>
						 <td><%= user.email %> </td>
						 <td>
							 <label class="checkbox_container">
								 <%= check_box_tag "offering[user_ids][]", user.id,  f.object.users.include?(user) %>
								 <span class="checkmark"></span>
								</label>
						 </td>
						 </tr>
				 <% end %>
			 </tbody>
			</table>

			<br>
			<div class="sketch">
				<h2>Virtual Classrooms</h2>
			</div>

			<table class="table">
				<thead class="thead">
					<tr style="colSort">
						<th scope="col">Classroom Name  <i class="fas fa-external-link-alt" style="color: white;"></th>
						<th scope="col">Classroom Description</th>
						<th scope="col">Add to TIP Class</th>
					</tr>
				</thead>

				<tbody>

				 <% @classrooms.each do |classroom| %>
						 <tr>
							 <td><%= link_to classroom.name, classroom_path(classroom), target: "_blank" %></td>
							 <td><%= classroom.description %> </td>
							 <td>
								 <label class="checkbox_container">
									<%= check_box_tag "offering[classroom_ids][]", classroom.id,  f.object.classrooms.include?(classroom) %>
									<span class="checkmark"></span>
								 </label>
							 </td>
						 </tr>
				 <% end %>
			 </tbody>
			</table>

			<br>
		  <%= f.submit "Update TIP Class", :class => 'btn btn-primary' %>
		<% end %>

		<br><br>
		<p><%= link_to "Delete TIP Class", offering_path(@offering),
                         :data => {:confirm => "Are you sure you want to delete this TIP class?",
                                   :method => "delete"} %></p>
		<% else %>

		<b>You do not have permission to access this page!</b>

		<% end %>

	<% else %>

	<b>You do not have permission to access this page!</b>

	<% end %>

	<br>
	<button onclick="goBack()" class="btn btn-warning"><i class="fas fa-backward" style="color: white;"></i></button>

	<br><br>
</div>
