<div class="container">
	<br><br>

	<% if current_user %>

		<% if current_user.acc_type == 'superadmin' || current_user.acc_type == 'admin' || current_user.acc_type == 'faculty' %>

		<div class="sketch">
			<h1>Build a New TIP Class</h1>
		</div>

		<br>

		<%= form_for @offering do |f| %>
			<%= f.label :title %>
			<%= f.text_field :name %> <br>
			<%= f.label :description %> <br>
			<%= f.text_area :description, cols: "60", rows: "4" %> <br>

		<br><br>

		<table class="table">
			<thead class="thead">
				<tr style="colSort">
					<th scope="col">Exercise Name</th>
					<th scope="col">Exercise Description</th>
					<th scope="col">Add to TIP Class</th>
				</tr>
			</thead>

			<tbody>

			 <% @exercises.each do |exercise| %>
					 <tr>
						 <td><%= exercise.name %> </td>
						 <td><%= exercise.description %> </td>
						 <td><%= check_box_tag "offering[exercise_ids][]", exercise.id,  f.object.exercises.include?(exercise) %></td>
					 </tr>
			 <% end %>
		 </tbody>
		</table>

		<br><br>

		<table class="table">
			<thead class="thead">
				<tr style="colSort">
					<th scope="col">User E-mail</th>
					<th scope="col">Add to TIP Class</th>
				</tr>
			</thead>

			<tbody>

			 <% @users.each do |user| %>
			 	<% if user.acc_type == 'student'%>
					 <tr>
						 <td><%= user.email %> </td>
						 <td><%= check_box_tag "offering[user_ids][]", user.id,  f.object.users.include?(user) %></td>
					 </tr>
					<% end %>
			 <% end %>
		 </tbody>
		</table>

		<br><br>

		<table class="table">
			<thead class="thead">
				<tr style="colSort">
					<th scope="col">Classroom Name</th>
					<th scope="col">Classroom Description</th>
					<th scope="col">Add to TIP Class</th>
				</tr>
			</thead>

			<tbody>

			 <% @classrooms.each do |classroom| %>
					 <tr>
						 <td><%= classroom.name %> </td>
						 <td><%= classroom.description %> </td>
						 <td><%= check_box_tag "offering[classroom_ids][]", classroom.id,  f.object.classrooms.include?(classroom) %></td>
					 </tr>
			 <% end %>
		 </tbody>
		</table>

			<%= f.submit "Create TIP Class", :class => 'btn btn-light'  %>
		<% end %>

		<br>
		<p><%= link_to "Return to TIP classes", offerings_path %></p>

		<% else %>

		<b>You do not have permission to access this page!</b>

		<% end %>

	<% else %>

	<b>You do not have permission to access this page!</b>

	<% end %>

</div>
