<div class="container">
	<br><br>

	<% if current_user %>

		<%# Code to check if the TIP is enrolled in this offering %>
		<% display = false %>

		<% current_user.offerings.each do |offering| %>
			<% if offering.id == @offering.id %>
				<% display = true %>
			<% end %>
		<% end %>

		<% if current_user.acc_type == 'superadmin' || current_user.acc_type == 'admin' || current_user.acc_type == 'faculty' || display == true %>

			<div class="sketch">
				<h1>
					<button onclick="goBack()" class="btn btn-warning" style="margin-right: 10px;"><i class="fas fa-backward" style="color: white;"></i></button>
					<%= @offering.name %>
				</h1>
			</div>
			<br>

			<b>Enrollment Key: </b><%= @offering.passcode %><br>
			<b>Description: </b><%= @offering.description %><br>
			<b>Message to Students: </b><%= @offering.message %><br>
			<b>Instructors:</b><br>
			<ul>
				<% @offering.enrollments.each do |enrollment| %>
					<% if enrollment.user.acc_type == 'admin' || enrollment.user.acc_type == 'superadmin' || enrollment.user.acc_type == 'faculty' %>
						<li><%= link_to enrollment.user.email, "/users/#{enrollment.user.id}" %> </li>
					<% end %>
				<% end %>
			</ul>
			<br>

			<div class="sketch">
				<h2>Learning Modules <i class="fas fa-folder-open"></i></h2>
			</div>

			<% @exercises = @offering.exercises.paginate(page: params[:page], per_page: 5) %>

			<%= will_paginate @exercises, class: "flickr_pagination" %>

			<table class="table">
				<thead class="thead">
					<tr style="colSort">
						<th scope="col">Learning Module Name</th>
						<th scope="col">Learning Module Description</th>
					</tr>
				</thead>

				<tbody>
				 <% @exercises.each do |exercise| %>
						 <tr>
							 <td><%= link_to exercise.name, exercise_path(exercise)%> </td>
							 <td><%= exercise.description %> </td>
						 </tr>
				 <% end %>
			 </tbody>
			</table>

			<%= will_paginate @exercises, class: "flickr_pagination" %>

			<br>

	    <% if current_user.acc_type == 'superadmin' || current_user.acc_type == 'admin' || current_user.acc_type == 'faculty' %>

			<div class="sketch">
				<h2>Enrollment <i class="fas fa-users"></i></h2>
			</div>

			<% @enrollments = @offering.enrollments.paginate(page: params[:page], per_page: 5) %>

			<%= will_paginate @enrollments, class: "flickr_pagination" %>

			<table class="table">
				<thead class="thead">
					<tr style="colSort">
						<th scope="col">Name</th>
						<th scope="col">User E-mail</th>
						<th scope="col">Role</th>
						<th scope="col">Activity Progress</th>
					</tr>
				</thead>

				<tbody>

				 <% @enrollments.each do |enrollment| %>
						 <tr>
							 <td><%= link_to enrollment.user.fname, user_path(enrollment.user) %></td>
							 <td><%= enrollment.user.email %> </td>
							 <% if enrollment.role != 'instructor' %>
							 	<td>TIP</td>
								<td><%= link_to "View Activity Progress", user_progress_progressions_path(enrollment.user.id)%></td>
							 <% else %>
							 	<td>Instructor</td>
								<td> </td>
							 <% end %>
						 </tr>
				 <% end %>
			 </tbody>
			</table>
			<%= will_paginate @enrollments, class: "flickr_pagination" %>

	<% end %>

		<br>
		<div class="sketch">
			<h2>Virtual Classrooms <i class="fas fa-chalkboard-teacher"></i></h2>
		</div>

		<% @classrooms = @offering.classrooms.paginate(page: params[:page], per_page: 5) %>

		<%= will_paginate @classrooms, class: "flickr_pagination" %>

		<table class="table">
			<thead class="thead">
				<tr style="colSort">
					<th scope="col">Classroom Name</th>
					<th scope="col">Classroom Description</th>
				</tr>
			</thead>

			<tbody>

			 <% @classrooms.each do |classroom| %>
					 <tr>
						 <td><%= link_to classroom.name, classroom_path(classroom) %></td>
						 <td><%= classroom.description %> </td>
					 </tr>
			 <% end %>
		 </tbody>
		</table>

		<%= will_paginate @classrooms, class: "flickr_pagination" %>

		<% if current_user.acc_type != 'student' %>
			<br>
			<div class="sketch">
				<h2>Profile Student Visibility</h2>
			</div>

			<table class="table">
				<thead class="thead">
					<tr style="colSort">
						<th>Student Name</th>
						<th>Virtual Classroom</th>
						<th>Profile Name</th>
						<th>Last Name</th>
						<th>Grade Level</th>
						<th>Ethnicity</th>
						<th>IEP</th>
						<th>Background</th>
					</tr>
				</thead>

				<tbody>

				 <% @offering.classroomofferings.each do |join| %>
				 		<% join.profilevisibles.each do |profilevisible| %>
						 <tr>
									<td><%= link_to profilevisible.user.fname, "/users/#{profilevisible.user_id}"%> </td>
									<td><%= link_to join.classroom.name , classroom_path(join.classroom)%> </td>
									<td><%= link_to profilevisible.profile.fname, profile_path(profilevisible.profile) %></td>
									<td><%= profilevisible.profile.lname %> (<%= profilevisible.lname %>)</td>
									<td><%= profilevisible.profile.gradelevel %> (<%= profilevisible.gradelevel %>)</td>
									<td><%= profilevisible.profile.ethnicity %> (<%= profilevisible.ethnicity %>)</td>
									<td><%= profilevisible.profile.iep %> (<%= profilevisible.iep %>)</td>
									<td><%= truncate(profilevisible.profile.background, :length => 20) %> (<%= profilevisible.background %>)</td>
						 </tr>
					<% end %>
				 <% end %>
			 </tbody>
			</table>
		<% end %>
		<br>

		<% else %>

		<b>You do not have permission to access this page!</b>

		<% end %>

	<% else %>

	<b>You do not have permission to access this page!</b>

	<% end %>

	<button onclick="goBack()" class="btn btn-warning"><i class="fas fa-backward" style="color: white;"></i></button>

	<br><br>
	<%= link_to 'Back to Dashboard', home_index_path %>

</div>
