<div class="container">
	<br><br>

	<% if current_user %>

		<%# Code to check if the TIP is enrolled in this offering %>
		<% display = false %>

		<% current_user.offerings.each do |offering| %>
			<% if offering.id == @offering.id %>
				<% display = true %>
			<% end %>
		<% end %>

		<% if current_user.acc_type == 'superadmin' || current_user.acc_type == 'admin' || current_user.acc_type == 'faculty' || display == true %>

		<div class="sketch">
			<h1><%= @offering.name %></h1>
		</div>
		<br>
		<b>Description: </b><%= @offering.description %><br>
		<b>Message to TIPs: </b><%= @offering.message %><br>
		<br><br>

		<div class="sketch">
			<h2>Learning Modules <i class="fas fa-folder-open"></i></h2>
		</div>

		<table class="table">
			<thead class="thead">
				<tr style="colSort">
					<th scope="col">Learning Module Name <i class="fas fa-external-link-alt" style="color: white;"></th>
					<th scope="col">Learning Module Description</th>
				</tr>
			</thead>

			<tbody>
			 <% @offering.exercises.each do |exercise| %>
					 <tr>
						 <td><%= link_to exercise.name, exercise_path(exercise), target: 'blank' %> </td>
						 <td><%= exercise.description %> </td>
					 </tr>
			 <% end %>
		 </tbody>
		</table>

		<br>

    <% if current_user.acc_type == 'superadmin' || current_user.acc_type == 'admin' || current_user.acc_type == 'faculty' %>

		<div class="sketch">
			<h2>Enrollment <i class="fas fa-users"></i></h2>
		</div>

		<table class="table">
			<thead class="thead">
				<tr style="colSort">
					<th scope="col">Name <i class="fas fa-external-link-alt" style="color: white;"></th>
					<th scope="col">User E-mail</th>
					<th scope="col">Role</th>
					<th scope="col">Activity Progress <i class="fas fa-external-link-alt" style="color: white;"></</th>
				</tr>
			</thead>

			<tbody>

			 <% @offering.enrollments.each do |enrollment| %>
					 <tr>
						 <td><%= link_to enrollment.user.fname, user_path(enrollment.user), target: "_blank" %></td>
						 <td><%= enrollment.user.email %> </td>
						 <% if enrollment.role != 'instructor' %>
						 	<td>TIP</td>
							<td><%= link_to "View Activity Progress", user_progress_progressions_path(enrollment.user.id), target: "_blank" %></td>
						 <% else %>
						 	<td>Instructor</td>
							<td> </td>
						 <% end %>
					 </tr>
			 <% end %>
		 </tbody>
		</table>

	<% end %>

		<br>
		<div class="sketch">
			<h2>Virtual Classrooms <i class="fas fa-chalkboard-teacher"></i></h2>
		</div>

		<table class="table">
			<thead class="thead">
				<tr style="colSort">
					<th scope="col">Classroom Name <i class="fas fa-external-link-alt" style="color: white;"></th>
					<th scope="col">Classroom Description</th>
				</tr>
			</thead>

			<tbody>

			 <% @offering.classrooms.each do |classroom| %>
					 <tr>
						 <td><%= link_to classroom.name, classroom_path(classroom), target: "_blank" %></td>
						 <td><%= classroom.description %> </td>
					 </tr>
			 <% end %>
		 </tbody>
		</table>

		<% if current_user.acc_type != 'student' %>
			<br>
			<div class="sketch">
				<h2>Profile TIP Visibility <i class="fas fa-eye-slash"></i></h2>
			</div>

			<table class="table">
				<thead class="thead">
					<tr style="colSort">
						<th>TIP Name <i class="fas fa-external-link-alt" style="color: white;"></th>
						<th>Virtual Classroom <i class="fas fa-external-link-alt" style="color: white;"></th>
						<th>Profile Name <i class="fas fa-external-link-alt" style="color: white;"></th>
						<th>Last Name</th>
						<th>Grade Level</th>
						<th>Ethnicity</th>
						<th>IEP</th>
						<th>Background</th>
					</tr>
				</thead>

				<tbody>

				 <% @offering.classroomofferings.each do |join| %>
				 		<% join.profilevisibles.each do |profilevisible| %>
						 <tr>
									<td><%= link_to profilevisible.user.fname, "/users/#{profilevisible.user_id}", target: "_blank" %> </td>
									<td><%= link_to join.classroom.name , classroom_path(join.classroom), target: "_blank" %> </td>
									<td><%= link_to profilevisible.profile.fname, profile_path(profilevisible.profile), target: "_blank"  %></td>
									<td><%= profilevisible.profile.lname %> (<%= profilevisible.lname %>)</td>
									<td><%= profilevisible.profile.gradelevel %> (<%= profilevisible.gradelevel %>)</td>
									<td><%= profilevisible.profile.ethnicity %> (<%= profilevisible.ethnicity %>)</td>
									<td><%= profilevisible.profile.iep %> (<%= profilevisible.iep %>)</td>
									<td><%= truncate(profilevisible.profile.background, :length => 20) %> (<%= profilevisible.background %>)</td>
						 </tr>
					<% end %>
				 <% end %>
			 </tbody>
			</table>
		<% end %>
		<br>
		<% if current_user.acc_type == 'superadmin' || current_user.acc_type == 'admin' || current_user.acc_type == 'faculty' %>
			<p><%= link_to "Return to Manage  TIP classes", manage_offerings_url %></p>
		<% else %>
			<p><%= link_to "Return to TIP classes", offerings_path %></p>
		<% end %>

		<% else %>

		<b>You do not have permission to access this page!</b>

		<% end %>

	<% else %>

	<b>You do not have permission to access this page!</b>

	<% end %>

</div>
