<div class="container">
	<br><br>

	<% if current_user %>

		<% if current_user.acc_type == 'superadmin' || current_user.acc_type == 'admin' || current_user.acc_type == 'faculty' %>

		<div class="sketch">
			<h1>Edit Classroom <%= @classroom.name %></h1>
			<br>
			<b>Warning!</b> Adding or removing profiles from this classroom will affect all
			administrators, faculty and teachers in training using it.
		</div>


		<br>

		<% if @classroom.errors.any? %>
		  <h3>Please fix these errors:</h3>
		  <ul>
		    <% @classroom.errors.full_messages.each do |message| %>
		      <li><%= message %></li>
		    <% end %>
		  </ul>
		<% end %>



		<%= form_for @classroom do |f| %>
		  <%= f.label :name %>
		  <%= f.text_field :name %>
			<%= f.label :description %>
		  <%= f.text_field :description %>
			<%= f.hidden_field :user_id, :value => current_user.id %>
			<br><br>

      <table class="table">

      <thead class="thead">
        <tr style="colSort">
          <th scope="col"><%= sort_link "fname", "Student Name" %></th>
          <th scope="col"><%= sort_link "status", "Add to Classroom" %></th>

        </tr>
      </thead>

      <tbody>

       <% @profiles.each do |profile| %>
           <tr>
             <td><%= profile.fname %> </td>
             <td><%= check_box_tag "classroom[profile_ids][]", profile.id,  f.object.profiles.include?(profile) %></td>

           </tr>
       <% end %>
     </tbody>

    </table>

			<br>
		  <%= f.submit %>
		<% end %>

		<br>
		<p><%= link_to "Return to classrooms", classrooms_path %></p>

		<% else %>

		<b>You do not have permission to access this page!</b>

		<% end %>

	<% else %>

	<b>You do not have permission to access this page!</b>

	<% end %>

</div>
