<div class="container">
	<br><br>


	<% if current_user %>

		<% if current_user.acc_type == 'superadmin' || current_user.acc_type == 'admin' || current_user.acc_type == 'faculty' || current_user.acc_type == 'student'%>

		<div class="menuLeft">
			<h3><b>Menu</b></h3>
			<br>
			<ul class="nav flex-column menu">
				<li class="nav-item">
					<a style="margin-bottom: 30px;" class="nav-link" href="/">Back to Dashboard</a>
				</li>
				<% if current_user.acc_type == 'admin' || current_user.acc_type == 'faculty' %>
					<li class="nav-item">
				    <%= link_to "Build a Classroom", :new_classroom, :class => "nav-link", :method => "get" %>
				  </li>
					<li class="nav-item">
				    <%= link_to "Manage Classrooms", :manage_classrooms, :class => "nav-link", :method => "get" %>
				  </li>
					<li class="nav-item">
				    <%= link_to "View All Classrooms", :all_classrooms, :class => "nav-link", :method => "get" %>
				  </li>
					<li class="nav-item">
						<%= link_to "View/Edit Students", :all_profiles, :class => "nav-link", :method => "get" %>
				  </li>
					<li class="nav-item">
						<%= link_to "Add Student Profiles", :new_profile, :class => "nav-link", :method => "get" %>
				  </li>
				<% end %>
			</ul>

			<!-- If TIP... -->
			<% if current_user.acc_type == 'student' %>
			<br><br>
			<h4><b>My Classrooms</b></h4>
			<br>
			<ul class="nav flex-column menu">
			  <li class="nav-item">
					<!-- View my classrooms -->
			    <%= link_to "View My Classrooms", :home_index, :class => "nav-link", :method => "get" %>
			  </li>
			</ul>
			<% end %>

		</div>
		<!-- An 'offering' of a class can have many TIP classes -->
		<!-- This would take you to the my school page, a table of classrooms with links to create a new TIP class -->
		<!-- A page to create a new offering/link you as a teacher of a selected classroom or "add to my school" -->
		<!-- Edit TIP Classes -->

		<div class="contentRight">

			<div class="sketch">
				<h1>Virtual Classrooms</h1>
			</div>

			Welcome to the Virtual Classrooms landing page. This page will provide links for administrators to manage
			virtual classrooms, links for faculty to manage TIP classes, and links for TIPs to view the
			classrooms they are assigned to by faculty.
			<br><br>
			In addition, this page will include a welcome message, contact information for help, and
			a link to a user manual.

			<br>
			<div class="btn-group" role="group" aria-label="Basic example">

				<%#= button_to "Add Students to Classrooms I Manage", :new_classprofile, :class => "btn btn-light vc", :method => "get" %>
			</div>
			<br><br>

		</div>

		<% else %>

			<p>Interact with virtual classrooms</p>

		<% end %>

	<% else %>

	<p>You are not signed in! Please click the sign in button on the top right corner.</p>

	<% end %>

	<br>

</div>
