<div class="container">
	<br><br>

	<% if current_user %>

		<% if current_user.acc_type == 'superadmin' || current_user.acc_type == 'admin' || current_user.acc_type == 'faculty' %>

		<div class="sketch">
			<h1>Build a Classroom <i class="fas fa-chalkboard" style="color: #323232;"></i></h1>
		</div>

		<br>

		<%= form_for @classroom do |f| %>
		  <%= f.label :name %>
		  <%= f.text_field :name, class: "form-control" %>
			<%= f.label :description %>
			<%= f.text_area :description, cols: "60", rows: "3", class: "form-control" %>
			<%= f.hidden_field :user_id, :value => current_user.id %>
			<br>
		  <%= f.submit "Create Classroom", :class => 'btn btn-primary' %>
		<% end %>

		<% else %>

		<b>You do not have permission to access this page!</b>

		<% end %>

	<% else %>

	<b>You do not have permission to access this page!</b>

	<% end %>

	<br>
	<button onclick="goBack()" class="btn btn-warning"><i class="fas fa-backward" style="color: white;"></i></button>

	<br><br>

</div>
