<div class="container">
	<br><br>

	<% if current_user %>

		<% if current_user.acc_type == 'superadmin' || current_user.acc_type == 'admin' || current_user.acc_type == 'faculty' %>

		<div class="sketch">
			<h1>Create a New Classroom</h1>
		</div>

		<br>

		<%= form_for @classroom do |f| %>
		  <%= f.label :name %>
		  <%= f.text_field :name %>
			<%= f.label :description %>
		  <%= f.text_field :description %>
		  <%= f.submit "Create Classroom", :class => 'btn btn-light'  %>
		<% end %>

		<br>
		<p><%= link_to "Return to classrooms", classrooms_path %></p>

		<% else %>

		<b>You do not have permission to access this page!</b>

		<% end %>

	<% else %>

	<b>You do not have permission to access this page!</b>

	<% end %>

</div>
