<div class="container">
	<br><br>
	<div class="sketch">
		<h1>Classroom View</h1>
	</div>
	<br>
	<b>Name: </b><%= @classroom.name %><br>
	<b>Description: </b><%= @classroom.description %><br>
	<br>
	
	<table class="table">
	  <thead class="thead">
	    <tr>
	      <th scope="col">Name</th>
	      <th scope="col">Ethnicity</th>
	      <th scope="col">IEP</th>
	      <th scope="col">Math</th>
				<th scope="col">ELA</th>
	    </tr>
	  </thead>
	  <tbody>
			<% @classroom.profiles.each do |profile| %>
					<tr>
			      <td><%= profile.fname %> <%= profile.lname %></td>
			      <td><%= profile.ethnicity %></td>
			      <td><%= profile.iep %></td>
						<td><%= profile.math %></td>
						<td><%= profile.ela %></td>
			    </tr>
			<% end %>
	  </tbody>
	</table>

	<table class="table">
	  <thead class="thead-light">
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">First</th>
	      <th scope="col">Last</th>
	      <th scope="col">Handle</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <th scope="row">1</th>
	      <td>Mark</td>
	      <td>Otto</td>
	      <td>@mdo</td>
	    </tr>
	    <tr>
	      <th scope="row">2</th>
	      <td>Jacob</td>
	      <td>Thornton</td>
	      <td>@fat</td>
	    </tr>
	    <tr>
	      <th scope="row">3</th>
	      <td>Larry</td>
	      <td>the Bird</td>
	      <td>@twitter</td>
	    </tr>
	  </tbody>
</table>


	<p><%= link_to "Return to classrooms", classrooms_path %></p>
</div>
