<div class="container">
	<br><br>

	<% if current_user %>

	<%# Code to check if this classroom is related to a TIP through an offering %>
	<% display = false %>

	<% @profiles = @profiles.paginate(page: params[:page], per_page: 8) %>

		<% if current_user.acc_type == 'student' %>
			<% current_user.offerings.each do |offering| %>
				<% offering.classrooms.each do |classroom| %>
					<% if classroom.id == @classroom.id %>

						<% coid = -1 %>
						<% count = 0 %>

							<% offering.classroomofferings.each do |co| %>
								<% if classroom.id == co.classroom_id && offering.id == co.offering_id %>
									<% coid = co.id %>
								<% end %>
							<% end %>

						<div class="sketch">
							<h1>
								<button onclick="goBack()" class="btn btn-warning" style="margin-right: 10px;"><i class="fas fa-backward" style="color: white;"></i></button>
								<%= @classroom.name %>
							</h1>
						</div>
						<br>
						<b>Description: </b><%= @classroom.description %><br>
						Assigned to you from <b><%= link_to offering.name, offering_path(offering) %></b> <br>
						<br>
						<%= will_paginate @profiles, class: "flickr_pagination" %>

						<table class="table">
							<thead class="thead">
								<tr style="colSort">
									<th scope="col"><%= sort_link "fname", "First Name" %></th>
									<th scope="col"><%= sort_link "lname", "Last Name" %></th>
									<th scope="col"><%= sort_link "ethnicity", "Ethnicity" %></th>
									<th scope="col"><%= sort_link "iep", "IEP" %></th>
									<th scope="col"><%= sort_link "math", "Math" %></th>
									<th scope="col"><%= sort_link "ela", "ELA" %></th>
									<th scope="col">Background</th>
								</tr>
							</thead>
							<tbody>

								<% customVisibility = Array.new %>

								<br>

								<% @profiles.each do |profile| %>
									<% @profilevisibles.each do |profilevisible| %>
										<% if profilevisible.profile_id == profile.id && profilevisible.user_id == current_user.id && profilevisible.classroomoffering_id == coid %>
											<% count = count + 1 %>
											<% customVisibility.push(profile.id) %>
											<tr>
												<td><%= profile.fname %> </td>

												<% if profilevisible.lname == true %>
													<td><%= profile.lname %></td>
												<% else %>
													<td><i class="fas fa-eye-slash"></i></td>
												<% end %>

												<% if profilevisible.ethnicity == true %>
													<td><%= profile.ethnicity %></td>
												<% else %>
													<td><i class="fas fa-eye-slash"></i></td>
												<% end %>

												<% if profilevisible.iep == true %>
													<td><%= profile.iep %></td>
												<% else %>
													<td><i class="fas fa-eye-slash"></i></td>
												<% end %>

												<% if profilevisible.math == true %>
													<td><%= profile.math %></td>
												<% else %>
													<td><i class="fas fa-eye-slash"></i></td>
												<% end %>

												<% if profilevisible.ela == true %>
													<td><%= profile.ela %></td>
												<% else %>
													<td><i class="fas fa-eye-slash"></i></td>
												<% end %>

												<% if profilevisible.background == true %>
													<td><%= profile.background %></td>
												<% else %>
													<td><i class="fas fa-eye-slash"></i></td>
												<% end %>
											</tr>
										<% end %>
									<% end %>

									<% if customVisibility.include?(profile.id) == false %>
										<tr>
											<td><%= link_to profile.fname, profile_path(profile) %> </td>
											<td><%= profile.lname %></td>
											<td><%= profile.ethnicity %></td>
											<td><%= profile.iep %></td>
											<td><%= profile.math %></td>
											<td><%= profile.ela %></td>
											<td><%= profile.background %></td>
										</tr>
									<% end %>
								<% end %>
							</tbody>
						</table>
						<br>
						<%= will_paginate @profiles, class: "flickr_pagination" %>

					<% end %>
				<% end %>
			<% end %>


		<% elsif current_user.acc_type == 'superadmin' || current_user.acc_type == 'admin' || current_user.acc_type == 'faculty' %>

		<div class="sketch">
			<h1>
				<button onclick="goBack()" class="btn btn-warning" style="margin-right: 10px;"><i class="fas fa-backward" style="color: white;"></i></button>
				<%= @classroom.name %>
			</h1>
		</div>
		<br>
		<b>Description: </b><%= @classroom.description %><br>
		<br>
		<%= will_paginate @profiles, class: "flickr_pagination" %>

		<table class="table">
		  <thead class="thead">
		    <tr style="colSort">
		      <th scope="col"><%= sort_link "fname", "First Name" %></th>
					<th scope="col"><%= sort_link "lname", "Last Name" %></th>
		      <th scope="col"><%= sort_link "ethnicity", "Ethnicity" %></th>
					<th scope="col"><%= sort_link "iep", "IEP" %></th>
					<th scope="col"><%= sort_link "math", "Math" %></th>
					<th scope="col"><%= sort_link "ela", "ELA" %></th>
					<th scope="col">Background</th>
		    </tr>
		  </thead>
		  <tbody>

				<% @profiles.each do |profile| %>
						<tr>
							<td><%= link_to profile.fname, profile_path(profile) %> </td>
							<td><%= profile.lname %></td>
				      <td><%= profile.ethnicity %></td>
							<td><%= profile.iep %></td>
							<td><%= profile.math %></td>
							<td><%= profile.ela %></td>
							<td><%= profile.background %></td>
						</tr>
				<% end %>
		  </tbody>
		</table>

		<%= will_paginate @profiles, class: "flickr_pagination" %>

		<% else %>

		<b>You do not have permission to access this page!</b>
		<br>
		<% end %>

	<% else %>

	<b>You do not have permission to access this page!</b>
	<br>
	<% end %>

	<button onclick="goBack()" class="btn btn-warning"><i class="fas fa-backward" style="color: white;"></i></button>

	<br><br>
	<%= link_to 'Back to Dashboard', home_index_path %>


</div>
