<div class="container">
	<br><br>
	<div class="sketch">
		<h1>Classroom View</h1>
	</div>
	<br>
	<b>Name: </b><%= @classroom.name %><br>
	<b>Description: </b><%= @classroom.description %><br>
	<br>

	<table class="table">
	  <thead class="thead">
	    <tr>
	      <th scope="col"><%= sort_link "fname" %></th>
				<th scope="col">Last Name</th>
	      <th scope="col">Ethnicity</th>
				<th scope="col">IEP</th>
				<th scope="col">Math</th>
				<th scope="col">ELA</th>
	    </tr>
	  </thead>
	  <tbody>
			<% @classroom.profiles.each do |profile| %>
					<tr>
						<td><%= profile.fname %> </td>
						<td><%= profile.lname %></td>
			      <td><%= profile.ethnicity %></td>
						<td><%= profile.iep %></td>
						<td><%= profile.math %></td>
						<td><%= profile.ela %></td>
					</tr>
			<% end %>

			<tr>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
			</tr>

			<% @profiles.each do |profile| %>
					<tr>
						<td><%= profile.fname %> </td>
						<td><%= profile.lname %></td>
			      <td><%= profile.ethnicity %></td>
						<td><%= profile.iep %></td>
						<td><%= profile.math %></td>
						<td><%= profile.ela %></td>
					</tr>
			<% end %>
	  </tbody>
	</table>

	<p><%= link_to "Return to classrooms", classrooms_path %></p>
</div>
