<div class="container">
	<br><br>
	<h1>Classroom View</h1>
	<br>
	<b>Name: </b><%= @classroom.name %><br>
	<b>Description: </b><%= @classroom.description %><br>
	<br>
	<ul>
		<% @classroom.profiles.each do |profile| %>

				<li><%= profile.fname %> <%= profile.lname %> <%= profile.ethnicity %> <%= profile.iep %> <%= profile.math %> <%= profile.ela %></li>

		<% end %>
	</ul>
	<p><%= link_to "Return to classrooms", classrooms_path %></p>
</div>
