<div class="container">
	<br><br>

	<% if current_user %>

		<div class="sketch">
			<h1><%= @user.fname %> <%= @user.lname %></h1>
		</div>
		<br>
		<b>Biography: </b><%= @user.bio %><br>
		<b>E-mail Address: </b><%= @user.email %><br>

    <div class="btn-group" role="group" aria-label="Basic example">
      <%= button_to "Okay", '/home/index', :method =>  "get" , :class => 'btn btn-primary' %>
    </div>



		<br>

		<br>

	<% else %>

	<b>You do not have permission to access this page!</b>

	<% end %>

</div>
