<div class="container">
	<br>
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
	    <li class="breadcrumb-item active" aria-current="page">User Profile</li>
	  </ol>
	</nav>
	<br>

	<% if current_user %>

		<div class="sketch">
			<h1><%= @user.fname %> <%= @user.lname %></h1>
		</div>
		<br>
		<b>E-mail Address: </b><%= @user.email %><br>
		<b>Account Type: </b><%= @user.acc_type %><br>
		<b>Biography: </b><%= @user.bio %><br>
		<br>
		<b>NAU Class Enrollments: </b>
		<ul>
			<% current_user.offerings.each do |offering| %>
				<li><%= link_to offering.name, offering_path(offering) %></li>
			<% end %>
		</ul>
		<br>
    <div class="btn-group" role="group" aria-label="Basic example">
      <%= link_to "Back to Dashboard", '/home/index', :method =>  "get" %>
    </div>
		<br><br>
		<a href="javascript:history.back()">Back</a>

		<br><br>

	<% else %>

	<b>You do not have permission to access this page!</b>

	<% end %>

</div>
