<div class="container">
	<br><br>

	<% if current_user %>

		<% if current_user.acc_type == 'superadmin' %>

		<div class="menuLeft">
			<h3><b>Menu</b></h3>
			<br>
			<ul class="nav flex-column menu">
				<li class="nav-item">
			    <%= link_to "View My Profile", "/users/#{current_user.id}", class: "nav-link" %>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="/users/edit">Update Profile</a>
			  </li>
				<li class="nav-item">
			    <a class="nav-link" href="/classrooms">Virtual Classrooms</a>
			  </li>
				<li class="nav-item">
			    <a class="nav-link" href="/exercises">Manage Learning Activities</a>
			  </li>
				<li class="nav-item">
			    <a class="nav-link" href="/offerings">TIP Classes</a>
			  </li>

			</ul>
		</div>

		<div class="contentRight">
			<h1>Dashboard</h1>

			<p>How goes it, <%= current_user.fname %>? This is your personal dashboard.</p>
			<br>
			<h4>Account Type: <b>Super administrator</b> </h4>
			<p>Privileges: Manage all administrators, faculty, and students. </p>


			<br><br><br>
		</div>

		<% elsif current_user.acc_type == 'admin' %>

		<div class="menuLeft">
			<h3><b>Menu</b></h3>
			<br>
			<ul class="nav flex-column menu">
				<li class="nav-item">
			    <%= link_to "View My Profile", "/users/#{current_user.id}", class: "nav-link" %>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="/users/edit">Update Profile</a>
			  </li>
				<li class="nav-item">
			    <a class="nav-link" href="/classrooms">Virtual Classrooms</a>
			  </li>
				<li class="nav-item">
			    <a class="nav-link" href="/exercises">Manage Learning Activities</a>
			  </li>
				<li class="nav-item">
			    <a class="nav-link" href="/offerings">TIP Classes</a>
			  </li>
			</ul>
		</div>

		<div class="contentRight">
			<h1>Dashboard</h1>

			<p>How goes it, <%= current_user.fname %>? This is your personal dashboard.</p>
			<br>
			<h4>Account Type: <b>Local administrator</b> </h4>
			<p>Privileges: Manage faculty and students...</p>
			<p>
					<% @users.each do |user| %>
						<% if user.superior == current_user.id %>
							<b><%= user.email %></b> (Faculty)
					 <% end %>
				<% end %>

		<% elsif current_user.acc_type == 'faculty' %>

		<div class="menuLeft">
			<h3><b>Menu</b></h3>
			<br>
			<ul class="nav flex-column menu">
				<li class="nav-item">
			    <%= link_to "View My Profile", "/users/#{current_user.id}", class: "nav-link" %>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="/users/edit">Update Profile</a>
			  </li>
				<li class="nav-item">
			    <a class="nav-link" href="/classrooms">Virtual Classrooms</a>
			  </li>
				<li class="nav-item">
			    <a class="nav-link" href="/exercises">Manage Learning Activities</a>
			  </li>
				<li class="nav-item">
			    <a class="nav-link" href="/offerings">TIP Classes</a>
			  </li>
			</ul>
		</div>

		<div class="contentRight">
			<h1>Dashboard</h1>
			<br>

			<p>How goes it, <%= current_user.fname %>? This is your personal dashboard.</p>

		</div>

		<% else %>

		<div class="menuLeft">
			<h3><b>Menu</b></h3>
			<br>
			<ul class="nav flex-column menu">
				<li class="nav-item">
					<%= link_to "View My Profile", "/users/#{current_user.id}", class: "nav-link" %>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="/users/edit">Update Profile</a>
			  </li>
				<%# Check if user has virtual classrooms to see %>

				<% virtual_classrooms = false %>

				<% current_user.enrollments.each do |enrollment| %>
					<% @offerings.each do |offering| %>
						<% if enrollment.offering_id == offering.id %>
							<% if offering.classroomofferings.any? %>
								<% virtual_classrooms = true %>
							<% end %>
						<% end %>
					<% end %>
				<% end %>

				<% if virtual_classrooms == true %>
					<li class="nav-item">
						<a class="nav-link" href="/classrooms">Virtual Classrooms</a>
					</li>
				<% end %>


				<%# Check if user has exercises to see %>

				<% exercises = false %>

				<% current_user.enrollments.each do |enrollment| %>
					<% @offerings.each do |offering| %>
						<% if enrollment.offering_id == offering.id %>
							<% if offering.exercises.any? %>
								<% exercises = true %>
							<% end %>
						<% end %>
					<% end %>
				<% end %>

				<% if exercises == true %>
					<li class="nav-item">
				    <a class="nav-link" href="/exercises">Learning Activities</a>
				  </li>
					<!-- <li class="nav-item">
							<a class="nav-link" href="/classrooms/virtual">Scenarios</a>
					</li> -->
				<% end %>


				<%# Check if user has exercises to see %>

				<% tip_classes = false %>

				<% current_user.enrollments.each do |enrollment| %>
					<% @offerings.each do |offering| %>
						<% if enrollment.offering_id == offering.id %>
							<% tip_classes = true %>
						<% end %>
					<% end %>
				<% end %>

				<% if tip_classes == true %>
					<li class="nav-item">
				    <a class="nav-link" href="/offerings">TIP Classes</a>
				  </li>
				<% end %>
				<br>
			</ul>
		</div>

		<div class="contentRight">
			<h1>Dashboard</h1>
			<br>
			<p>Messages from TIP Class X: </p>
			<br>
			<p>How goes it, <%= current_user.fname %>? This is your personal dashboard.</p>

		</div>

		<% end %>

	<% else %>

	<h1>Welcome to the Jabulani School Simulation Portal</h1>
	<h3>This website is under construction</h3>
	<br>
	<p>Please check back in May of 2019 for the official launch of this software.</p>

	<% end %>
</div>
