<div class="container">
	<br><br>

	<% flash.each do |key, value| %>
		<div style="margin-top: -10px;">
			<b>Notice</b>: <i><%= value %></i>
			<br><br>
		</div>
	<% end %>

	<% if current_user %>

		<% if current_user.acc_type == 'superadmin' %>

		<div class="menuLeft">
			<h3><b>Menu</b></h3>
			<br>
			<ul class="nav flex-column menu">
				<li class="nav-item">
			    <%= link_to "View My Profile", "/users/#{current_user.id}", class: "nav-link" %>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="/users/edit">Update Profile</a>
			  </li>
				<li class="nav-item">
			    <a class="nav-link" href="/classrooms">Virtual Classrooms</a>
			  </li>
				<li class="nav-item">
			    <a class="nav-link" href="/exercises">Learning Modules</a>
			  </li>
				<li class="nav-item">
			    <a class="nav-link" href="/offerings">NAU Classes</a>
			  </li>

			</ul>
			<br>
		</div>

		<div class="contentRight">
			<h1>Dashboard</h1>

			<p>How goes it, <%= current_user.fname %>? This is your personal dashboard.</p>
			<br>
			<h4>Account Type: <b>Super administrator</b> </h4>
			<br>
			<p>New <u>Local Administrator</u> Sign-Up Key: <b><%= current_user.admin_key %></b>
				<%= button_to generate_admin_key_users_path, class: "btn btn-light btn-sm", :data => {:confirm => 'Are you sure you want to generate a new administrator sign up key?'} do %>
				   <i class="fas fa-sync"></i> Generate New Key
				<% end %>
			</p>
			<br>

			<p>New <u>Faculty</u> Sign-Up Key: <b><%= current_user.faculty_key %></b>
				<%= button_to generate_faculty_key_users_path, class: "btn btn-light btn-sm", :data => {:confirm => 'Are you sure you want to generate a new faculty sign up key?'} do %>
				   <i class="fas fa-sync"></i> Generate New Key
				<% end %>
			<p>

			<br><br><br>
		</div>

		<% elsif current_user.acc_type == 'admin' %>

		<div class="menuLeft">
			<h3><b>Menu</b></h3>
			<br>
			<ul class="nav flex-column menu">
				<li class="nav-item">
			    <%= link_to "View My Profile", "/users/#{current_user.id}", class: "nav-link" %>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="/users/edit">Update Profile</a>
			  </li>
				<li class="nav-item">
			    <a class="nav-link" href="/classrooms">Virtual Classrooms</a>
			  </li>
				<li class="nav-item">
			    <a class="nav-link" href="/exercises">Learning Modules</a>
			  </li>
				<li class="nav-item">
			    <a class="nav-link" href="/offerings">NAU Classes</a>
			  </li>
			</ul>
			<br>
		</div>

		<div class="contentRight">
			<h1>Dashboard</h1>

			<p>How goes it, <%= current_user.fname %>? This is your personal dashboard.</p>
			<br>
			<h4>Account Type: <b>Local administrator</b> </h4>

			<p>
				<% if @superior != '' %>
					This account is managed by: <%= @superior.fname + ' ' + @superior.lname + ' (' + @superior.email + ') ' %><br><br>
				<% end %>
				New <u>Faculty</u> Sign-Up Key: <b><%= current_user.faculty_key %></b>
				<%= button_to generate_faculty_key_users_path, class: "btn btn-light btn-sm", :data => {:confirm => 'Are you sure you want to generate a new faculty sign up key?'} do %>
				   <i class="fas fa-sync"></i> Generate New Key
				<% end %>
				<br>
			</p>

		<% elsif current_user.acc_type == 'faculty' %>

		<div class="menuLeft">
			<h3><b>Menu</b></h3>
			<br>
			<ul class="nav flex-column menu">
				<li class="nav-item">
			    <%= link_to "View My Profile", "/users/#{current_user.id}", class: "nav-link" %>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="/users/edit">Update Profile</a>
			  </li>
				<li class="nav-item">
			    <a class="nav-link" href="/classrooms">Virtual Classrooms</a>
			  </li>
				<li class="nav-item">
			    <a class="nav-link" href="/exercises">Learning Modules</a>
			  </li>
				<li class="nav-item">
			    <a class="nav-link" href="/offerings">NAU Classes</a>
			  </li>
			</ul>
		</div>

		<div class="contentRight">
			<h1>Dashboard</h1>
			<p>How goes it, <%= current_user.fname %>? This is your personal dashboard.</p>
			<br>
			<h4>Account Type: <b>Faculty</b> </h4>
			<p>
				<% if @superior != '' %>
					This account is managed by: <%= @superior.fname + ' ' + @superior.lname + ' (' + @superior.email + ') ' %><br><br>
				<% end %>
			</p>

			<br><br><br>
		</div>

		<% else %>

		<div class="menuLeft">
			<h3><b>Menu</b></h3>
			<br>
			<ul class="nav flex-column menu">
				<li class="nav-item">
					<%= link_to "View My Profile", "/users/#{current_user.id}", class: "nav-link" %>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="/users/edit">Update Profile</a>
			  </li>
				<li class="nav-item">
					<%= link_to "Enroll in a Class", new_enrollment_path, class: "nav-link" %>
			  </li>
				<%# Check if user has virtual classrooms to see %>

				<% virtual_classrooms = false %>

				<% current_user.enrollments.each do |enrollment| %>
					<% @offerings.each do |offering| %>
						<% if enrollment.offering_id == offering.id %>
							<% if offering.classroomofferings.any? %>
								<% virtual_classrooms = true %>
							<% end %>
						<% end %>
					<% end %>
				<% end %>

				<% if virtual_classrooms == true %>
					<li class="nav-item">
						<a class="nav-link" href="/classrooms">Virtual Classrooms</a>
					</li>
				<% end %>


				<%# Check if user has exercises to see %>

				<% exercises = false %>

				<% current_user.enrollments.each do |enrollment| %>
					<% @offerings.each do |offering| %>
						<% if enrollment.offering_id == offering.id %>
							<% if offering.exercises.any? %>
								<% exercises = true %>
							<% end %>
						<% end %>
					<% end %>
				<% end %>

				<% if exercises == true %>
					<li class="nav-item">
				    <a class="nav-link" href="/exercises">Learning Modules</a>
				  </li>
				<% end %>


				<%# Check if user has exercises to see %>

				<% tip_classes = false %>

				<% current_user.enrollments.each do |enrollment| %>
					<% @offerings.each do |offering| %>
						<% if enrollment.offering_id == offering.id %>
							<% tip_classes = true %>
						<% end %>
					<% end %>
				<% end %>

				<% if tip_classes == true %>
					<li class="nav-item">
				    <a class="nav-link" href="/offerings">NAU Classes</a>
				  </li>
				<% end %>
				<br>
			</ul>
		</div>

		<div class="contentRight">
			<h1>Dashboard</h1>
			<br>
			<p>How goes it, <%= current_user.fname %>? This is your personal dashboard.</p>
			<br>
			<% current_user.offerings.each do |offering| %>
				<% if offering.message.to_s.length > 0 %>
					<div class="card" style="border: none">
						<div class="card-header">
							<b><i class="fas fa-envelope" style="margin-right: 10px;"></i> From <%= link_to offering.name, offering_path(offering), class: "btn btn-light btn-sm", style: "background-color: white;"%>:</b>
					  </div>
						<div class="card-body">
							<%= offering.message %>
						</div>
					</div>
				<% end %>
			<% end %>
			<br>
		</div>

		<% end %>

	<% else %>

	<h1>Welcome to the Jabulani School Simulation Portal</h1>
	<h3>This website is under construction</h3>
	<br>
	<p>Please check back in May of 2019 for the official launch of this software.</p>

	<% end %>
</div>
