<div class="container">
	<br><br>

	<% if current_user.acc_type == 'superadmin' || current_user.acc_type == 'admin' || current_user.acc_type == 'faculty' %>

		<div class="sketch">
			<h1>
				<button onclick="goBack()" class="btn btn-warning" style="margin-right: 10px;"><i class="fas fa-backward" style="color: white;"></i></button>
				TIP Progress
			</h1>
		</div>
		<br>
		<!-- LOOP THROUGH ALL USERS OR JUST ALL USERS THE INSTRUCTOR IS CONNECTED TO -->
		<h4><b><%= @user.fname %> <%= @user.lname %></b></h4>
		<b>Biography: </b><%= @user.bio %><br>
		<b>E-mail Address: </b><%= link_to @user.email, "/users/#{@user.id}" %><br>
		<br><br>

		<h4><b>Assigned Learning Activities:</b></h4> <br>

		<% exercises = Array.new %>

				<% @user.offerings.each do |offering| %>
					<% offering.exercises.each do |exercise| %>
						<% if exercises.exclude?(exercise.id) %>
							<table class="table">
								<thead class="thead">
									<tr style="colSort">
										<th scope="col"><%= link_to exercise.name, exercise_path(exercise), :class => "nav-link" %></th>
										<th>Complete?</th>
									</tr>
								</thead>
								<tbody>
									<% exercise.scenarios.each do |scenario| %>
										<tr class="nav-item">
											<td><%= link_to scenario.name, scenario_path(scenario), :class => "nav-link" %></td>
											<td>
												<% @user.progressions.each do |progress| %>
													<% if scenario.id == progress.scenario_id %>
														<%# TO DO: Get only most recent insertion %>
														<% if progress.complete == true %>
															<b>Complete</b>
														<% end %>
														<% if progress.complete == false %>
															<b>Incomplete</b>
														<% end %>
													<% end %>
												<% end %>
											</td>
										</tr>
									<% end %>
								</tbody>
							</table>
							<% exercises.push(exercise.id) %>
						<% end %>
					<% end %>
				<% end %>

	<% else %>

	<b>You do not have permission to access this page!</b>
	<br>
	<% end %>

	<button onclick="goBack()" class="btn btn-warning"><i class="fas fa-backward" style="color: white;"></i></button>

	<br><br>

</div>
