<div class="container">
	<br><br>

	<% if current_user %>

		<% if current_user.acc_type == 'superadmin' || current_user.acc_type == 'admin' || current_user.acc_type == 'faculty' %>

		<div class="sketch">
			<h1>Edit <%= @scenario.name %> <i class="fas fa-file-alt"></i></h1>
		</div>

		<% if @scenario.errors.any? %>
		  <h3>Please fix these errors:</h3>
		  <ul>
		    <% @scenario.errors.full_messages.each do |message| %>
		      <li><%= message %></li>
		    <% end %>
		  </ul>
		<% end %>

		<%= form_for @scenario do |f| %>
		  <%= f.label :name %>
		  <%= f.text_field :name, class: "form-control" %> <br>
			<%= f.label :description %>
			<%= f.text_area :description, cols: "60", rows: "4", class: "form-control" %> <br>
			<%= f.file_field :pdf_file %>
			<br>
			<br>
		  <%= f.submit "Update Activity", :class => 'btn btn-primary' %>
		<% end %>

		<br><br>
		<p><%= link_to "Delete Activity", scenario_path(@scenario),
                         :data => {:confirm => "Are you sure you want to delete this Learning Activity?",
                                   :method => "delete"} %></p>
		<% else %>

		<b>You do not have permission to access this page!</b>

		<% end %>

	<% else %>

	<b>You do not have permission to access this page!</b>

	<% end %>

	<br>
	<button onclick="goBack()" class="btn btn-warning"><i class="fas fa-backward" style="color: white;"></i></button>

	<br><br>

</div>
