<div class="container">
	<br><br>

	<% if current_user %>

		<% if current_user.acc_type == 'superadmin' || current_user.acc_type == 'admin' || current_user.acc_type == 'faculty' %>

		<div class="sketch">
			<h1>
				<button onclick="goBack()" class="btn btn-warning" style="margin-right: 10px;"><i class="fas fa-backward" style="color: white;"></i></button>
				Create a New Activity <i class="fas fa-file-alt"></i>
			</h1>
		</div>

		<%= form_for @scenario, html: { multipart: true } do |f| %>
		  <%= f.label :name %>
		  <%= f.text_field :name, class: "form-control" %>
			<%= f.label :description %> <br>
			<%= f.text_area :description, cols: "60", rows: "3", class: "form-control" %>
			<br>
				<%= f.file_field :pdf_file %>
			<br><br>

			<%= f.submit "Create Activity", :class => 'btn btn-primary'  %>
		<% end %>

		<% else %>

		<b>You do not have permission to access this page!</b>

		<% end %>

	<% else %>

	<b>You do not have permission to access this page!</b>

	<% end %>

	<br>
	<button onclick="goBack()" class="btn btn-warning"><i class="fas fa-backward" style="color: white;"></i></button>

	<br><br>
</div>
