<div class="container">
	<br><br>

	<% if current_user %>

		<% if current_user.acc_type == 'superadmin' || current_user.acc_type == 'admin' || current_user.acc_type == 'faculty' %>

		<div class="sketch">
			<h1>
				<button onclick="goBack()" class="btn btn-warning" style="margin-right: 10px;"><i class="fas fa-backward" style="color: white;"></i></button>
				Manage Learning Modules <i class="fas fa-folder-open"></i>
			</h1>
		</div>

		Below are all Learning Modules.
		<br><br>
		<% @exercises = @exercises.paginate(page: params[:page], per_page: 8) %>

		<% if @exercises.length > 8 %>
			<%= will_paginate @exercises, class: "flickr_pagination" %>
		<% end %>

		<%= form_tag(edit_exercise_url , method: :get) do %>
			<%= text_field_tag(:search, params[:search]) %>
			<%= submit_tag "Search", class: "btn btn-primary btn-sm" %>
		<% end %>



		<table class="table">
			<thead class="thead">
				<tr style="colSort">
					<th scope="col">View Learning Module</th>
					<th scope="col">Edit Learning Module</th>
				</tr>
			</thead>
			<tbody>
				<% @exercises.each do |exercise| %>
						<tr>
							<td><%= link_to exercise.name, exercise_path(exercise) %></td>
							<td><%= link_to 'Edit Module', edit_exercise_url(exercise)%></td>
						</tr>
				<% end %>
			</tbody>
		</table>

		<% if @exercises.length > 8 %>
			<%= will_paginate @exercises, class: "flickr_pagination" %>
		<% end %>

		<% else %>

		<b>You do not have permission to access this page!</b>

		<% end %>

	<% else %>

	<b>You do not have permission to access this page!</b>

	<% end %>

	<br>
	<button onclick="goBack()" class="btn btn-warning"><i class="fas fa-backward" style="color: white;"></i></button>

	<br><br>
	<%= link_to 'Back to Dashboard', home_index_path %>

</div>
