<div class="container">
	<br><br>

	<% if current_user %>

		<%# Code to check if this exercise is related to a TIP through an offering %>
		<% display = false %>

		<% current_user.offerings.each do |offering| %>
			<% offering.exercises.each do |exercise| %>
				<%# Maybe in the future we add an array to collect these offerings and diplay them below %>
				<% if exercise.id == @exercise.id %>
					<% display = true %>
				<% end %>
			<% end %>
		<% end %>

		<% if current_user.acc_type == 'superadmin' || current_user.acc_type == 'admin' || current_user.acc_type == 'faculty' || display == true %>

		<div class="sketch">
			<h1>
				<button onclick="goBack()" class="btn btn-warning" style="margin-right: 10px;"><i class="fas fa-backward" style="color: white;"></i></button>
				<%= @exercise.name %> <i class="fas fa-folder-open"></i>
			</h1>
		</div>
		<br>
		<b>Description: </b><%= @exercise.description %><br>
		<br><br>

		<div class="sketch">
			<h3>Activities <i class="fas fa-file-alt"></i></h3>
		</div>
		<br>

		<% @scenarios = @scenarios.paginate(page: params[:page], per_page: 8) %>

		<%= will_paginate @scenarios, class: "flickr_pagination" %>

		<table class="table">
		  <thead class="thead">
		    <tr style="colSort">
		      <th scope="col">Name</th>
					<th scope="col">Description</th>
					<th scope="col">File <i class="fas fa-external-link-alt" style="color: white;"></th>
		    </tr>
		  </thead>
		  <tbody>

				<% @scenarios.each do |scenario| %>
						<tr>
							<td><%= link_to scenario.name, scenario_path(scenario) %></td>
							<td><%= scenario.description %></td>
							<td>
								<% if scenario.pdf_file.length > 0 %>
							  	<%= link_to "View File", scenario.pdf_file_url.to_s, target:"_blank" %>
								<% else %>
									No file attached
								<% end %>
							</td>
						</tr>
				<% end %>
		  </tbody>
		</table>

		<%= will_paginate @scenarios, class: "flickr_pagination" %>
		<br>

		<% else %>

		<b>You do not have permission to access this page!</b>

		<% end %>

	<% else %>

	<b>You do not have permission to access this page!</b>

	<% end %>

	<button onclick="goBack()" class="btn btn-warning"><i class="fas fa-backward" style="color: white;"></i></button>

	<br><br>
</div>
