<!DOCTYPE html>
<html>
  <head>
    <title>JASS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>

  <nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center navbar-dark" style="background-color: #003466">
    <a class="navbar-brand d-flex w-50 mr-auto" href="/" style="font-family: 'Open Sans', sans-serif; font-size: 18pt; padding: 22px;">Jabulani School Simulation Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li> -->

        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
      </ul>
      <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
        <% if current_user %>
        <li style="margin-right: 40px; color: white;">Welcome, <%= current_user.email %>!</li>
        <li><%= button_to('Sign Out', destroy_user_session_path, :method => :delete, :class => "btn btn-light btn-sm") %></li>
        <% else %>
        <li class="nav-item">
          <a class="nav-link" href="/users/sign_in"><button type="button" class="btn btn-light btn-sm">Sign In</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/sign_up"><button type="button" class="btn btn-light btn-sm">Sign Up</button></a>
        </li>
        <% end %>
      </ul>
    </div>
  </nav>

  <body>
    <%= yield %>
  </body>

  <div class="footer">
    <div style="float: left; width: 40%;">
				<p style="color: black;">
					2018 Jabulani School Simulation Portal
				</p>
			</div>
			<div style="float: right; width: 20%;">
				<img src="https://nau.edu/wp-content/uploads/sites/87/2018/08/NAU_Acronym_primary-281_3514-300x213.png" style="width: 100px; padding: 10px; margin-top: -20px;"></img>
			</div>
  </div>
</html>
